.add-item {
    width: 200px;
    height: 200px;
    vertical-align: middle;
    position: relative;
    display: flex;
    align-items: center;
    .add-item-plus {
        width: 80px;
        height: 80px;
        vertical-align: middle;
        margin: 0 auto;
    }
}
.add-item:hover {
    cursor: pointer;
    background-color: #efe3c2;
}
