.password-change {
    background: #e8d5a6;
    padding: 20px 0;
    color: #3c362a;
    .password-change-error {
        color: red;
    }
    .password-change-message {
        color: blue;
    }
    .password-change-button {
        margin-top: 20px;
    }
}
