.login {
    // background: #445873;
    background: #e8d5a6;
    // color: #F28355;
    padding: 20px 0;
    .login-button {
        margin-top: 30px;
    }
    .login-error {
        color: #ff343c;
        font-size: 16px;
    }
}
