.password-reset {
    background: #e8d5a6;
    padding: 20px 0;
    // color: #766c54;
    // color: #5a523f;
    // color: #4b4435;
    color: #3c362a;
    .password-reset-error {
        color: red;
    }
    .password-reset-message {
        color: blue;
    }
}
